body {
    background-image: url("https://raw.githubusercontent.com/josno/quiz-app/master/Assets/medicalbackground_1.jpg");
    background-color: #F2357B;
    font-family: 'Roboto', Verdana, sans-serif;
}

/* styling for title; will stay on top of page
   margin-top to show background bleed through */
h1 {
    background-color: #65BFA6;
    width: 600px;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    border: 2px solid black;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* centers title text */
.header-text {
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Game play will render uniform size throughout quiz */
.boxes {
    background-color: #65BFA6;
    height:500px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid black;
    text-align: center;
    -webkit-box-shadow: 14px 14px 10px -8px rgba(0,0,0,0.27);
    -moz-box-shadow: 14px 14px 10px -8px rgba(0,0,0,0.27);
    box-shadow: 14px 14px 10px -8px rgba(0,0,0,0.27);
}

/* Setting responsive design */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.text-container {
    width: 500px;
    padding: 20px;
}

.btn-container {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.btn-style {
    height: 50px;
    width: 100px;
    background-color: white;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

/* Toggles boxes that render and disappear during play */
.hidden {
    display: none;
}

footer {
    background-color: #65BFA6;
    width: 600px;
    border: 2px solid black;
    margin-top: 20px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-left: 0px;
}

@media only screen and (max-width: 600px) {
    div.boxes {
      height: 600px;
      /*start mobile design; look at screen height again*/
    }
  }